.docs-search {
  @media only screen and (min-width: 1024px) {
    max-width: 764px;
    margin-left: 260px;
    padding-left: calc(50% - 764px / 2 - 260px + .5 * (100vw - 100%));
  }

  @media only screen and (max-width: 1024px) {
    max-width: 1024px;
  }

  display: none;
  width: 100%;
  height: calc(100vh - 64px);
  pointer-events: auto;
  margin: auto;
  overflow-y: auto;
  background-color: white;

  &__close {
    width: 48px;
    margin-top: 6px;
    color: $docs-color--black54;
    opacity: 0;
    pointer-events: none;

    &:hover {
      color: $docs-color--black38;
    }
  }

  &__results {
    list-style-type: none;
    margin: 0;
    padding: 12px 48px 48px;
    background-color: white;

    h2 {
      margin-top: 32px;
    }
  }

  &__details {
    margin: 0;
    color: $docs-color--black54;
  }

  &__result {
    margin-top: 32px;
  }
}
