.docs-sidebar {
  @media only screen and (max-width: 1024px) {
    display: none;
  }

  padding-left: calc(100vw - 100%);
}

.docs-sidebar-toggle {
  display: none;

  &:checked ~ .docs-sidebar {
    display: block !important;
  }
}
