@import "components/typography/tn-a";

.docs-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: auto;
  z-index: 2;

  &__inner {
    @media only screen and (min-width: 1024px) {
      max-width: 764px;
      margin-left: 260px;
      padding-left: calc(50% - 764px / 2 - 260px + .5 * (100vw - 100%));
      border-bottom: 1px solid $docs-color--black12;
    }

    @media only screen and (max-width: 1024px) {
      max-width: 100vw;
    }

    display: flex;
    width: 100%;
    height: 64px;
    background-color: $docs-color-background--default;
    line-height: 64px;
    box-sizing: content-box;
  }

  @media only screen and (max-width: 1024px) {
    &__inner--search-open {
      border-bottom: 1px solid $docs-color--black12;

      .docs-menu-toggle {
        display: none;
      }

      .docs-search-hide {
        display: block !important;
      }

      .docs-search-box {
        opacity: 1 !important;
        pointer-events: auto !important;
      }

      .docs-search-show {
        display: none;
      }
    }
  }

  &__link {
    @media only screen and (max-width: 1024px) {
      display: none;
    }

    margin-right: 16px;
    white-space: nowrap;

    &:last-child {
      margin-right: 20px;
    }
  }

  &-icon {
    @include docs-glyph-hover;
  }

  .docs-menu-toggle,
  .docs-search-hide {
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .docs-search-icon {
    @media only screen and (max-width: 1024px) {
      display: none;
    }

    flex: 0 0 28px;
    width: 28px;
    margin-left: 28px;
    pointer-events: none;
  }

  .docs-search-hide {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  .docs-search-box {
    @media only screen and (max-width: 1024px) {
      opacity: 0;
      pointer-events: none;
    }

    overflow: hidden;
  }

  .docs-search-show {
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
}
