@import "components/typography/tn-a";

.docs-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: auto;
  z-index: 2;

  &__inner {
    @media only screen and (min-width: 1024px) {
      max-width: 764px;
      margin-left: 260px;
      padding-left: calc(50% - 764px / 2 - 260px + .5 * (100vw - 100%));
      border-bottom: 1px solid $docs-color--black12;
    }

    @media only screen and (max-width: 1024px) {
      max-width: 1024px;
    }

    display: flex;
    width: 100%;
    height: 63px;
    background-color: $docs-color-background--default;
    line-height: 63px;
  }

  &__menu-icon {
    @media only screen and (min-width: 1024px) {
      padding-left: 0;
    }

    @media only screen and (max-width: 1024px) {
      padding-left: 16px;
    }

    flex: 0 0 32px;
    margin-top: 6px;
    overflow: hidden;

    .material-icons {
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }

    label[for="docs-sidebar-toggle"] {
      @include docs-glyph-hover;
    }
  }

  &__link {
    @media only screen and (max-width: 1024px) {
      display: none;
    }

    margin-right: 16px;

    &:last-child {
      margin-right: 20px;
    }
  }

  label[for="docs-search-area-toggle"] {
    @media only screen and (min-width: 1024px) {
      order: 3;
      color: $docs-color--black54;
    }

    @media only screen and (max-width: 1024px) {
      @include docs-glyph-hover;
    }
  }
}
